@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper "*, CoreWorkshop"

<html>
<body>
    <h1>Home Controller About</h1>
    <p markdown> [docs](https://docs.asp.net)</p>
    <markdown>*Hello* **World**</markdown>
</body>
</html>